.column {
	display: inline-block;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}


/** Mobile Devices */
 @media (max-width: 480px) {
	.column {
		width: 98%;

	}
}

/*Low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	.column {
		width: 75%;

	}
}

/* Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
	.column {
		width: 40%;
	}
}

/*  Laptops, Desktops and Large Screens */
@media (min-width: 1025px){
	.column {
		width: 30%;
	}

}