.column {
	display: inline-block;
}

/* Small devices (portrait tablets and large phones, 768px and lower) */
@media only screen and (max-width: 768px) {
	.column {
		float: left;
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.column {
		float: left;
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.column {
		float: left;
		width: 33%;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 1%;
		margin-bottom: 1%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.column {
		float: left;
		/*width: 25%;*/
		margin-left: 1%;
		margin-right: 1%;
		height: 10%;
	}
}