.column {
	display: inline-block;
}


@media screen and (min-width: 50px) {
	.column {
		float: left;
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
}

@media screen and (min-width: 400px) {
	.column {
		float: left;
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 1%;
		margin-bottom: 1%;
	}
}

@media screen and (min-width: 800px) {
	.column {
		float: left;
		width: 23%;
		margin-left: 1%;
		margin-right: 1%;
		height: 10%;
	}
}