/* Coolors Exported Palette - https://coolors.co/386bdb-000000-2c73b0-58a7be-006ca6 */

/* CSS HEX */
--royal-blue-light: #386bdbff;
--black: #000000ff;
--spanish-blue: #2c73b0ff;
--maximum-blue: #58a7beff;
--sapphire-blue: #006ca6ff;

/* CSS HSL */
--royal-blue-light: hsla(221, 69%, 54%, 1);
--black: hsla(0, 0%, 0%, 1);
--spanish-blue: hsla(208, 60%, 43%, 1);
--maximum-blue: hsla(194, 44%, 55%, 1);
--sapphire-blue: hsla(201, 100%, 33%, 1);

/* SCSS HEX */
$royal-blue-light: #386bdbff;
$black: #000000ff;
$spanish-blue: #2c73b0ff;
$maximum-blue: #58a7beff;
$sapphire-blue: #006ca6ff;

/* SCSS HSL */
$royal-blue-light: hsla(221, 69%, 54%, 1);
$black: hsla(0, 0%, 0%, 1);
$spanish-blue: hsla(208, 60%, 43%, 1);
$maximum-blue: hsla(194, 44%, 55%, 1);
$sapphire-blue: hsla(201, 100%, 33%, 1);

/* SCSS RGB */
$royal-blue-light: rgba(56, 107, 219, 1);
$black: rgba(0, 0, 0, 1);
$spanish-blue: rgba(44, 115, 176, 1);
$maximum-blue: rgba(88, 167, 190, 1);
$sapphire-blue: rgba(0, 108, 166, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);
$gradient-right: linear-gradient(90deg, #386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);
$gradient-bottom: linear-gradient(180deg, #386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);
$gradient-left: linear-gradient(270deg, #386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);
$gradient-top-right: linear-gradient(45deg, #386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);
$gradient-bottom-right: linear-gradient(135deg, #386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);
$gradient-top-left: linear-gradient(225deg, #386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);
$gradient-bottom-left: linear-gradient(315deg, #386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);
$gradient-radial: radial-gradient(#386bdbff, #000000ff, #2c73b0ff, #58a7beff, #006ca6ff);