body {
	font-family: arial;
}

a {
	color: rgb(0,100,255);
}

li::marker {
	color: rgb(0,100,255);
}

footer {
	background-color: rgb(110,110,110);
	color: rgb(255,255,255);
}

footer p, footer h1, footer a {
	margin-left: 16px;
	margin-right: 16px;
}

footer a {
	color: rgb(255, 255, 255);
	margin-top: 8px;
}

nav a {
	font-size: 20px;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	text-decoration: none;
	line-height: 100%;
}

nav a:hover {
	text-decoration: underline;
}

nav a:focus {
	text-decoration: underline;
}

nav {
	display: inline;
	z-index: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	margin-left: 0px;
	margin-right: 0px;
	min-height: 30px;
}

img {
	width: 50%;
	display: inline-block;
}



.column img {
	width: 100%;
}

nav a {
	margin-left: 10px;
	margin-right: 10px;
}

.column a {
	cursor: zoom-in;
}

#nav-placeholder {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(0,0,255);
}

#first {
	margin-top: 40px;
}

.active {
	background-color: rgb(100,100,100);
}

h1 {
	font-size: 200%;
}

nav a {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	text-decoration: none;
	line-height: 180%;
}
@media only screen and (max-width: 768px){
	nav {
		height: 20vh;
	}

	nav a {
		font-size: 2em;
	}

	#first {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 768px) {
	nav {
		height: 5vh;
	}

	nav a {
		font-size: 1.2em;
	}

	/*.column {
		float: left;
		width: 23%;
		margin-left: 1%;
		margin-right: 1%;
		height: 10%;
	}*/
}

#skip {
	display: none;
}

#skip:focus {
	display: inline;
}