body {
	font-family: arial !important;
	margin-left: 10px;
}

a {
	color: rgb(0,100,255);
}

li::marker {
	color: rgb(0,100,255);
}

footer {
	background-color: rgb(110,110,110);
	color: rgb(255,255,255);
}

footer p, footer h1, footer a {
	margin-left: 16px;
	margin-right: 16px;
}

footer a {
	color: rgb(255, 255, 255);
	margin-top: 8px;
}

nav a {
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255) !important;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

nav a:focus {
	text-decoration: underline;
}

nav {
	display: inline;
	z-index: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
	margin-left: 0px;
	margin-right: 0px;
	min-height: 30px;
}

img {
	width: 50%;
	display: inline-block;
}



.item img {
	width: 100%;
}

.item a {
	cursor: zoom-in;
}

#nav-placeholder {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(0,0,255);
}

#first {
	margin-top: 40px;
}

.active {
	background-color: rgb(100,100,100);
}

nav p {
	display: inline;
}

#carouselExampleIndicators {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	position: absolute;
	bottom: 10px;
}

#gallery-last {
	text-align: center;
}

button {
	background-color: rgb(240,240,240);
	border: 2px solid rgb(0,0,0);
	border-radius: 6px;
}

button:hover {
	background-color: rgb(230,230,230);
}

/** Mobile Devices */
 @media screen and (max-width: 480px) {
 	nav, #nav-placeholder {
		height: 75px;
	}
	nav a {
		font-size: 30px;
		line-height: 250%;
	}
	#content-top {
		margin-top: 20vh;
	}

	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 60px;
	}

	p, li, button  {
		font-size: 40px;
	}
}

/*Low resolution  Tablets, Ipads */
@media screen and (min-width: 481px) and (max-width: 767px) {
	nav, #nav-placeholder {
		height: 75px;
	}
	nav a {
		font-size: 30px;
		line-height: 250%;
	}

	#content-top {
		margin-top: 20vh;
	}
	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 60px;
	}

	p, li, button {
		font-size: 40px;
	}
}

/* Tablets Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	nav, #nav-placeholder {
		height: 75px;
	}
	nav a {
		font-size: 40px;
		line-height: 250%;
	}
	#content-top {
		margin-top: 5vh;
	}
	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 60px;
	}

	p, li, button {
		font-size: 40px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	nav, #nav-placeholder {
		height: 30px;
	}
	nav a {
		font-size: 20px;
		line-height: 155%;
	}
	#content-top {
		margin-top: 5vh;
	}
	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 30px;
	}

	p, li {
		font-size: 20px;
	}
	button {
		font-size: 15px;
	}
}

/*  Laptops, Desktops and Large Screens */
@media screen and (min-width: 1025px){
	nav, #nav-placeholder {
		height: 30px;
	}
	nav a {
		font-size: 20px;
		line-height: 155%;
	}
	#content-top {
		margin-top: 5vh;
	}
	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 30px;
	}

	p, li {
		font-size: 20px;
	}

	button {
		font-size: 15px;
	}

}



#skip {
	display: none;
}

#skip:focus {
	display: inline;
}